<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nongzi.dao.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.nongzi.pojo.OrderDetail">
    <id column="d_id" jdbcType="INTEGER" property="dId" />
    <result column="o_id" jdbcType="VARCHAR" property="oId" />
    <result column="s_id" jdbcType="INTEGER" property="sId" />
    <result column="o_num" jdbcType="INTEGER" property="oNum" />
    <result column="o_money" jdbcType="DOUBLE" property="oMoney" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    d_id, o_id, s_id, o_num, o_money
  </sql>
  <select id="selectByExample" parameterType="com.nongzi.pojo.OrderDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orderdetail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orderdetail
    where d_id = #{dId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orderdetail
    where d_id = #{dId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.nongzi.pojo.OrderDetailExample">
    delete from orderdetail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nongzi.pojo.OrderDetail">
    insert into orderdetail (d_id, o_id, s_id, 
      o_num, o_money)
    values (#{dId,jdbcType=INTEGER}, #{oId,jdbcType=VARCHAR}, #{sId,jdbcType=INTEGER}, 
      #{oNum,jdbcType=INTEGER}, #{oMoney,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.nongzi.pojo.OrderDetail">
    insert into orderdetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dId != null">
        d_id,
      </if>
      <if test="oId != null">
        o_id,
      </if>
      <if test="sId != null">
        s_id,
      </if>
      <if test="oNum != null">
        o_num,
      </if>
      <if test="oMoney != null">
        o_money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dId != null">
        #{dId,jdbcType=INTEGER},
      </if>
      <if test="oId != null">
        #{oId,jdbcType=VARCHAR},
      </if>
      <if test="sId != null">
        #{sId,jdbcType=INTEGER},
      </if>
      <if test="oNum != null">
        #{oNum,jdbcType=INTEGER},
      </if>
      <if test="oMoney != null">
        #{oMoney,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nongzi.pojo.OrderDetailExample" resultType="java.lang.Long">
    select count(*) from orderdetail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update orderdetail
    <set>
      <if test="record.dId != null">
        d_id = #{record.dId,jdbcType=INTEGER},
      </if>
      <if test="record.oId != null">
        o_id = #{record.oId,jdbcType=VARCHAR},
      </if>
      <if test="record.sId != null">
        s_id = #{record.sId,jdbcType=INTEGER},
      </if>
      <if test="record.oNum != null">
        o_num = #{record.oNum,jdbcType=INTEGER},
      </if>
      <if test="record.oMoney != null">
        o_money = #{record.oMoney,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update orderdetail
    set d_id = #{record.dId,jdbcType=INTEGER},
      o_id = #{record.oId,jdbcType=VARCHAR},
      s_id = #{record.sId,jdbcType=INTEGER},
      o_num = #{record.oNum,jdbcType=INTEGER},
      o_money = #{record.oMoney,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nongzi.pojo.OrderDetail">
    update orderdetail
    <set>
      <if test="oId != null">
        o_id = #{oId,jdbcType=VARCHAR},
      </if>
      <if test="sId != null">
        s_id = #{sId,jdbcType=INTEGER},
      </if>
      <if test="oNum != null">
        o_num = #{oNum,jdbcType=INTEGER},
      </if>
      <if test="oMoney != null">
        o_money = #{oMoney,jdbcType=DOUBLE},
      </if>
    </set>
    where d_id = #{dId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nongzi.pojo.OrderDetail">
    update orderdetail
    set o_id = #{oId,jdbcType=VARCHAR},
      s_id = #{sId,jdbcType=INTEGER},
      o_num = #{oNum,jdbcType=INTEGER},
      o_money = #{oMoney,jdbcType=DOUBLE}
    where d_id = #{dId,jdbcType=INTEGER}
  </update>
  <resultMap id="orderDetailMap" type="com.nongzi.pojo.OrderDetailDO">
    <id column="d_id" jdbcType="INTEGER" property="dId"/>
    <result column="s_name" jdbcType="VARCHAR" property="sName"/>
    <result column="s_pictureUrl" jdbcType="VARCHAR" property="picUrl"/>
    <result column="o_id" jdbcType="VARCHAR" property=""/>
    <result column="o_num" jdbcType="INTEGER" property="oNum"/>
    <result column="o_money" jdbcType="DOUBLE" property="oMoney"/>
  </resultMap>
  <select id="selectOrderDetailByoId" parameterType="java.lang.String" resultMap="orderDetailMap">
    SELECT t.d_id, p.s_name, p.s_pictureUrl, t.o_num, t.o_money, o.o_type
    FROM `orderdetail` AS t
    INNER JOIN `order` AS o
    ON t.o_id = o.`o_id`
    INNER JOIN productinfo AS p
    ON t.s_id = p.s_id
    where t.o_id = #{oid}
  </select>

  <select id="selectExcelOrderById" parameterType="java.lang.String" resultType="com.nongzi.pojo.ExcelOrderDO">
    select od.o_id as oId,r.o_name as oName,r.o_phone as oPhone,r.o_address as oAddress,
    s.s_name as sName,od.o_num as num ,od.o_money as money
    from orderdetail  od
    LEFT JOIN productinfo s on od.s_id = s.s_id
    LEFT JOIN receiptinfo r on r.o_id= od.o_id
    where od.o_id =#{oId}
  </select>
</mapper>